<div class="p-2">
    <strong>Start:</strong> <%= schedule.start_date.strftime("%d/%b/%Y") %>    
</div>

<div class="p-2">
  <strong>End:</strong> <%= schedule.end_date.strftime("%d/%b/%Y") %>
</div>