<div id="<%= dom_id schedule %>">
  <p>
    <strong>Start:</strong>
    <%= schedule.start_date %>
  </p>

  <p>
    <strong>End:</strong>
    <%= schedule.end_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= schedule.user_id %>
  </p>

</div>
