<div class="row mb-4">
  <h1 class="col-12">Schedules</h1>  
</div>

<div class="row mb-4">
  <div class="col-12">
    <%= link_to "New schedule", new_schedule_path, class: "btn btn-primary" %>    
  </div>
</div>



<div class="d-flex justify-content-between">

  <%= render "schedule_box", title: "Next", schedules: @schedules_future %>
  <%= render "schedule_box", title: "Past", schedules: @schedules_past %>
  
</div>


